.App {
  text-align: center;
}

.Night {
  text-align: center;
  background-color: black;
  color: white;
}

.Day {
  text-align: center;
}

.Sepia {
  text-align: center;
  background-color: bisque;
}
